@font-face {
  font-family: IranSans;
  src: url(../assets/font/Iran-Sans.ttf);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: IranSans;
}
body .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .header .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
body .header .title img {
  width: 120px;
  padding: 0 10px;
  border-left: 2px solid black;
}
body .header .title p {
  font-size: 20px;
  padding: 0 10px;
}
body .intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-image: url("../assets/images/backcheck2.svg");
  background-size: 100% 100%;
  background-repeat: repeat;
  background-position: center;
  background-color: rgb(255, 175, 32);
  padding: 80px;
}
body .intro img {
  width: 280px;
}
body .about-classino {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(217, 107, 217);
}
body .about-classino div {
  width: 500px;
  padding: 30px;
}
body .about-classino div img {
  width: 350px;
  margin-right: 20%;
}
body .about-classino div p {
  width: 100%;
  text-align: justify;
}
body .about-classino div p span {
  display: block;
  font-size: 30px;
  font-weight: bold;
  padding: 14px 0;
}
body .why-classino {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/backcheck2.svg");
  background-size: cover;
  background-color: rgb(255, 175, 32);
  border-top: 2px solid black;
}
body .why-classino h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}
body .why-classino .reason-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: #ffffff;
  border: 2px solid #7100A6;
  border-radius: 30px;
  padding: 50px;
}
body .why-classino .reason-1 img {
  width: 30px;
  position: relative;
}
body .why-classino .reason-1 .right-star {
  bottom: 100px;
  left: 65px;
}
body .why-classino .reason-1 .left-star {
  top: 100px;
  right: 65px;
}
body .why-classino .reason-1 div {
  width: 300px;
}
body .why-classino .reason-1 div img {
  width: 250px;
}
body .why-classino .reason-1 div p {
  width: 90%;
  font-size: 23px;
}
body .why-classino .other-reasons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}
body .why-classino .other-reasons div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .why-classino .other-reasons div .reasons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 300px;
  background-color: #ffffff;
  border: 2px solid #7100A6;
  border-radius: 30px;
  margin: 10px;
}
body .why-classino .other-reasons div .reasons img {
  width: 60px;
  margin: 10px;
}
body .why-classino .other-reasons div .reasons p {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
body .why-classino .free-experience-button {
  text-decoration: none;
  font-weight: bold;
  color: #7100A6;
  background-color: rgb(103, 245, 245);
  border: 2px solid #7100A6;
  border-radius: 15px;
  padding: 8px 20px;
  margin: 20px 0 33px 0;
}
body .why-classino .free-experience-button:hover {
  background-color: rgb(35, 250, 2);
  box-shadow: -7px 7px #7100A6;
}
body .elementary-school-teachers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-top: 2px solid black;
}
body .elementary-school-teachers h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}
body .elementary-school-teachers .free-experience-button {
  text-decoration: none;
  font-weight: bold;
  color: #7100A6;
  background-color: rgb(103, 245, 245);
  border: 2px solid #7100A6;
  border-radius: 15px;
  padding: 8px 20px;
  margin: 20px 0 33px 0;
}
body .elementary-school-teachers .free-experience-button:hover {
  background-color: rgb(35, 250, 2);
  box-shadow: -7px 7px #7100A6;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  body .header .title img {
    width: 70px;
  }
  body .header .title p {
    font-size: 13px;
  }
  body .intro img {
    width: 220px;
  }
  body .about-classino {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .about-classino div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .about-classino div img {
    width: 220px;
    margin: 10px 0 0 0;
  }
  body .about-classino div p {
    width: 55%;
    text-align: justify;
  }
  body .about-classino div p span {
    font-size: 20px;
  }
  body .why-classino h1 {
    font-size: 20px;
  }
  body .why-classino .reason-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 72%;
    padding: 20px;
  }
  body .why-classino .reason-1 img {
    width: 20px;
  }
  body .why-classino .reason-1 .right-star {
    bottom: 30px;
    left: 85px;
  }
  body .why-classino .reason-1 .left-star {
    top: 30px;
    right: 85px;
  }
  body .why-classino .reason-1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
  }
  body .why-classino .reason-1 div img {
    width: 170px;
  }
  body .why-classino .reason-1 div p {
    width: 70%;
    font-size: 18px;
    text-align: center;
  }
  body .other-reasons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .other-reasons .reasons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
    background-color: #ffffff;
    border: 2px solid #7100A6;
    border-radius: 30px;
    margin: 10px;
  }
  body .other-reasons .reasons img {
    width: 60px;
    margin: 10px;
  }
  body .other-reasons .reasons p {
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  body .other-reasons .reason-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */