<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کلاسینو | قوی ترین آموزشگاه آنلاین کنکور</title>
    <link rel="icon" href="../assets/images/classino-favicon.ico">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <section class="header">
        <div class="title">
            <img src="../assets/images/classinoLogo.svg">
            <p>آموزشگاه آنلاینِ ابتدایی تا کنکور</p>
        </div>
    </section>
    <section class="intro">
        <img src="../assets/images/backfv.svg">
    </section>
    <section class="about-classino">
        <div class="computer-img">
            <img src="../assets/images/computer.svg">
        </div>
        <div class="description">
            <p>
                <span> کلاسینو دیگه کجاست؟</span>
                کلاسینو، با تجربه برگزاری با کیفیت‌ترین کلاس‌‌های آنلاین در زمینه کنکور، متوسطه اول و دوم در پلتفرم اختصاصی خودش از سال ۹۷ تا حالا، این بار با کلاس‌های آنلاین پایه‌های اول تا ششم ابتدایی به خونه‌هاتون میاد!
            </p>
        </div>
    </section>
    <section class="why-classino">
        <h1>چرا کلاسینو رو انتخاب کنم؟</h1>
        <div class="reason-1">
            <img class="right-star" src="../assets/images/Star5.svg">
            <div class="reason-1-img">
                <img src="../assets/images/1000000.svg">
            </div>
            <div class="reason-1-caption">
                <p>بزرگترین آموزشگاه آنلاین کنکور و پایه با حدود یک میلیون نفر کاربر</p>
            </div>
            <img class="left-star" src="../assets/images/Star5.svg">
        </div>
        <div class="other-reasons">
            <div class="reason-2">
                <img src="../assets/images/upload.svg">
                <p>امکان بارگذاری تکالیف بازی‌محور (به صورت ویدیویی) در پنل کاربری دانش‌آموز</p>
            </div>
            <div class="reason-2">
                <img src="../assets/images/upload.svg">
                <p>امکان بارگذاری تکالیف بازی‌محور در پنل کاربری دانش‌آموز</p>
            </div>
            <div class="reason-2">
                <img src="../assets/images/upload.svg">
                <p>امکان بارگذاری تکالیف بازی‌محور در پنل کاربری دانش‌آموز</p>
            </div>
            <div class="reason-2">
                <img src="../assets/images/upload.svg">
                <p>امکان بارگذاری تکالیف بازی‌محور در پنل کاربری دانش‌آموز</p>
            </div>
            <div class="reason-2">
                <img src="../assets/images/upload.svg">
                <p>امکان بارگذاری تکالیف بازی‌محور در پنل کاربری دانش‌آموز</p>
            </div>
            <div class="reason-2">
                <img src="../assets/images/upload.svg">
                <p>امکان بارگذاری تکالیف بازی‌محور در پنل کاربری دانش‌آموز</p>
            </div>
        </div>
    </section>
</body>
</html>