<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کلاسینو | قوی ترین آموزشگاه آنلاین کنکور</title>
    <link rel="icon" href="../assets/images/classino-favicon.ico">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <section class="header">
        <div class="title">
            <img src="../assets/images/classinoLogo.svg">
            <p>آموزشگاه آنلاینِ ابتدایی تا کنکور</p>
        </div>
    </section>
    <section class="intro">
        <img src="../assets/images/backfv.svg">
    </section>
    <section class="about-classino">
        <div class="computer-img">
            <img src="../assets/images/computer.svg">
        </div>
        <div class="description">
            <p>
                <span> کلاسینو دیگه کجاست؟</span>
                کلاسینو، با تجربه برگزاری با کیفیت‌ترین کلاس‌‌های آنلاین در زمینه کنکور، متوسطه اول و دوم در پلتفرم اختصاصی خودش از سال ۹۷ تا حالا، این بار با کلاس‌های آنلاین پایه‌های اول تا ششم ابتدایی به خونه‌هاتون میاد!
            </p>
        </div>
    </section>
    <section class="why-classino">
        <h1>چرا کلاسینو رو انتخاب کنم؟</h1>
        <div class="reason-1">
            <img class="right-star" src="../assets/images/Star5.svg">
            <div class="reason-1-img">
                <img src="../assets/images/1000000.svg">
            </div>
            <div class="reason-1-caption">
                <p>بزرگترین آموزشگاه آنلاین کنکور و پایه با حدود یک میلیون نفر کاربر</p>
            </div>
            <img class="left-star" src="../assets/images/Star5.svg">
        </div>

        <!-- <div class="other-reasons">
            <div class="reasons-2-3">
                <div class="reasons reason-2">
                    <img src="../assets/images/tadris.svg">
                    <p>تدریس با جدیدترین روش‌های دنیا: بازی، نمایش، عروسک‌گردانی، شعر و موسیقی</p>
                </div>
                <div class="reasons reason-3">
                    <img src="../assets/images/upload.svg">
                    <p>امکان بارگذاری تکالیف بازی‌محور (به صورت ویدیویی) در پنل کاربری دانش‌آموز</p>
                </div>
            </div>
            <div class="reasons-4-5">
                <div class="reasons reason-4">
                    <img src="../assets/images/platform.svg">
                    <p>دارای پلتفرم اختصاصی برگزاری کلاس</p>
                </div>
                <div class="reasons reason-5">
                    <img src="../assets/images/razi.svg">
                    <p>بیش از ۹۷٪ رضایت دانش‌آموزان و والدین</p>
                </div>
            </div>
            <div class="reasons-6-7">
                <div class="reasons reason-6">
                    <img src="../assets/images/rotbe.svg">
                    <p>دارای صدها رتبه‌برتر کنکور و قبولی در مدارس سمپاد و نمونه‌دولتی</p>
                </div>
                <div class="reasons reason-7">
                    <img src="../assets/images/webomobile.svg">
                    <p>برترین آموزشگاه آنلاین از نگاه مردمی در جشنواره وب و موبایل</p>
                </div>
            </div>
        </div> -->
        <div class="other-reasons">
            <!-- <div class="reasons-2-3"> -->
                <div class="reasons reason-2">
                    <img src="../assets/images/tadris.svg">
                    <p>تدریس با جدیدترین روش‌های دنیا: بازی، نمایش، عروسک‌گردانی، شعر و موسیقی</p>
                </div>
                <div class="reasons reason-3">
                    <img src="../assets/images/upload.svg">
                    <p>امکان بارگذاری تکالیف بازی‌محور (به صورت ویدیویی) در پنل کاربری دانش‌آموز</p>
                </div>
            <!-- </div> -->
            <!-- <div class="reasons-4-5"> -->
                <div class="reasons reason-4">
                    <img src="../assets/images/platform.svg">
                    <p>دارای پلتفرم اختصاصی برگزاری کلاس</p>
                </div>
                <div class="reasons reason-5">
                    <img src="../assets/images/razi.svg">
                    <p>بیش از ۹۷٪ رضایت دانش‌آموزان و والدین</p>
                </div>
            <!-- </div> -->
            <!-- <div class="reasons-6-7"> -->
                <div class="reasons reason-6">
                    <img src="../assets/images/rotbe.svg">
                    <p>دارای صدها رتبه‌برتر کنکور و قبولی در مدارس سمپاد و نمونه‌دولتی</p>
                </div>
                <div class="reasons reason-7">
                    <img src="../assets/images/webomobile.svg">
                    <p>برترین آموزشگاه آنلاین از نگاه مردمی در جشنواره وب و موبایل</p>
                </div>
            <!-- </div> -->
        </div>
        <a href="#" class="free-experience-button">رایگان تجربه کن</a>
    </section>
    <section class="elementary-school-teachers">
        <h1>معلمان دبستان کلاسینو</h1>
        <a href="#" class="free-experience-button">رایگان تجربه کن</a>
    </section>
</body>
</html>